<pre>
1. Download the preprocessed DonorsChoose data from here <a href='https://drive.google.com/file/d/1GU3LIJJ3zS1xLXXe-sdItSJHtI5txjVO/view?usp=sharing'>Dataset</a>
2. Split the data into train, cv, and test
3. After step 2 you have to train 3 types of models as discussed below. 
4. For all the model use <a href='https://scikit-learn.org/stable/modules/model_evaluation.html#roc-metrics'>'auc'</a> as a metric. check <a href='https://datascience.stackexchange.com/a/20192'>this</a> for using auc as a metric. you need to print the AUC value for each epoch. Note: you should NOT use the tf.metric.auc
5. You are free to choose any number of layers/hiddden units but you have to use same type of architectures shown below. 
6. You can use any one of the optimizers and choice of Learning rate and momentum, resources: <a href='http://cs231n.github.io/neural-networks-3/'>cs231n class notes</a>, <a href='https://www.youtube.com/watch?v=hd_KFJ5ktUc'>cs231n class video</a>. 
7. You should Save the best model weights.
8. For all the model's use <a href='https://www.youtube.com/watch?v=2U6Jl7oqRkM'>TensorBoard</a> and plot the Metric value and Loss with epoch. While submitting, take a screenshot of plots and include those images in .ipynb notebook and PDF. 
9. Use Categorical Cross Entropy as Loss to minimize.
10. try to get AUC more than 0.8 for atleast one model
</pre>

### Model-1

Build and Train deep neural network as shown below

<img src='https://i.imgur.com/w395Yk9.png'>
ref: https://i.imgur.com/w395Yk9.png

- __Input_seq_total_text_data__ --- You have to give Total text data columns. After this use the Embedding layer to get word vectors. Use given predefined glove word vectors, don't train any word vectors. After this use LSTM and get the LSTM output and Flatten that output. 
- __Input_school_state__ --- Give 'school_state' column as input to embedding layer and Train the Keras Embedding layer. 
- __Project_grade_category__  --- Give 'project_grade_category' column as input to embedding layer and Train the Keras Embedding layer.
- __Input_clean_categories__ --- Give 'input_clean_categories' column as input to embedding layer and Train the Keras Embedding layer.
- __Input_clean_subcategories__ --- Give 'input_clean_subcategories' column as input to embedding layer and Train the Keras Embedding layer.
- __Input_clean_subcategories__ --- Give 'input_teacher_prefix' column as input to embedding layer and Train the Keras Embedding layer.
- __Input_remaining_teacher_number_of_previously_posted_projects._resource_summary_contains_numerical_digits._price._quantity__ ---concatenate remaining columns and add a Dense layer after that.

- For LSTM, you can choose your sequence padding methods on your own or you can train your LSTM without padding, there is no restriction on that.

Below is an example of embedding layer for a categorical columns. In below code all are dummy values, we gave only for referance.

In [ ]:
# https://stats.stackexchange.com/questions/270546/how-does-keras-embedding-layer-work
input_layer = Input(shape=(n,))
embedding = Embedding(no_1, no_2, input_length=n)(input_layer)
flatten = Flatten()(embedding)

### 1. Go through this blog, if you have any doubt on using predefined Embedding values in Embedding layer - https://machinelearningmastery.com/use-word-embedding-layers-deep-learning-keras/
### 2. Please go through this link https://keras.io/getting-started/functional-api-guide/ and check the 'Multi-input and multi-output models' then you will get to know how to give multiple inputs.

### Model-2

Use the same model as above but for 'input_seq_total_text_data' give only some words in the sentance not all the words. Filter the words as below.

<pre>
1. Train the TF-IDF on the Train data feature 'essay' <br>
2. Get the idf value for each word we have in the train data. <br>
3. Remove the low idf value and high idf value words from our data. Do some analysis on the Idf values and based on those values choose the low and high threshold value. Because very frequent words and very very rare words don't give much information. (you can plot a box plots and take only the idf scores within IQR range and corresponding words)<br>
4. Train the LSTM after removing the Low and High idf value words. (In model-1 Train on total data but in Model-2 train on data after removing some words based on IDF values)
</pre>

### Model-3

<img src='https://i.imgur.com/fkQ8nGo.png'>
ref: https://i.imgur.com/fkQ8nGo.png


- __input_seq_total_text_data__: <br>
<pre>
    . Use text column('essay'), and use the Embedding layer to get word vectors. <br>
    . Use given predefined glove word vectors, don't train any word vectors. <br>
    . Use LSTM that is given above, get the LSTM output and Flatten that output. <br>
    . You are free to preprocess the input text as you needed. <br>
</pre>
- __Other_than_text_data__:<br>
<pre>
    . Convert all your Categorical values to onehot coded and then concatenate all these onehot vectors <br>
    . Neumerical values and use <a href='https://keras.io/getting-started/sequential-model-guide/#sequence-classification-with-1d-convolutions'>CNN1D</a> as shown in above figure. <br>
    . You are free to choose all CNN parameters like kernel sizes, stride.<br>
    
</pre>

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import re
from bs4 import BeautifulSoup
# Tutorial about Python regular expressions: https://pymotw.com/2/re/
from nltk.corpus import stopwords
import pickle
from tqdm import tqdm
import os
# fix random seed for reproducibility
np.random.seed(7)
from numpy import asarray
from numpy import zeros
from sklearn.preprocessing import LabelEncoder
#Tensorboard
from time import time

import tensorflow as tf
from keras.models import Sequential, Model, load_model
from keras.layers import Dense, Dropout, BatchNormalization, Input, Flatten, concatenate
from keras.layers import LSTM, Conv1D, MaxPool1D, LeakyReLU, ELU, SpatialDropout1D, MaxPooling1D, GlobalAveragePooling1D, GlobalMaxPooling1D
from keras.layers.embeddings import Embedding
from keras import regularizers
from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.callbacks import ModelCheckpoint, EarlyStopping, TensorBoard, ReduceLROnPlateau
%load_ext tensorboard

Using TensorFlow backend.

The tensorboard module is not an IPython extension.

In [9]:
df=pd.read_csv(r"F:\Donors Choose preprocessed_data.csv")
# project_data = pd.read_csv(path + 'train_data.csv')
# resource_data = pd.read_csv(path + 'resources.csv')

In [10]:
df.head(5)

,school_state,teacher_prefix,project_grade_category,teacher_number_of_previously_posted_projects,project_is_approved,clean_categories,clean_subcategories,essay,price
0,ca,mrs,grades_prek_2,53,1,math_science,appliedsciences health_lifescience,i fortunate enough use fairy tale stem kits cl...,725.05
1,ut,ms,grades_3_5,4,1,specialneeds,specialneeds,imagine 8 9 years old you third grade classroo...,213.03
2,ca,mrs,grades_prek_2,10,1,literacy_language,literacy,having class 24 students comes diverse learner...,329.00
3,ga,mrs,grades_prek_2,2,1,appliedlearning,earlydevelopment,i recently read article giving students choice...,481.04
4,wa,mrs,grades_3_5,2,1,literacy_language,literacy,my students crave challenge eat obstacles brea...,17.74

In [11]:
df.columns

Index(['school_state', 'teacher_prefix', 'project_grade_category',
       'teacher_number_of_previously_posted_projects', 'project_is_approved',
       'clean_categories', 'clean_subcategories', 'essay', 'price'],
      dtype='object')

In [12]:
import warnings
warnings.filterwarnings("ignore")

In [19]:
print("No of data points in train data", df.shape)
print('_'*120)
print("The features for data:  ", df.columns)

No of data points in train data (109248, 9)
________________________________________________________________________________________________________________________
The features for data:   Index(['school_state', 'teacher_prefix', 'project_grade_category',
       'teacher_number_of_previously_posted_projects', 'project_is_approved',
       'clean_categories', 'clean_subcategories', 'essay', 'price'],
      dtype='object')

In [20]:
df["project_is_approved"].value_counts()

1    92706
0    16542
Name: project_is_approved, dtype: int64

In [21]:
df['project_grade_category'].value_counts()

grades_prek_2    44225
grades_3_5       37137
grades_6_8       16923
grades_9_12      10963
Name: project_grade_category, dtype: int64

In [22]:
# https://stackoverflow.com/questions/36383821/pandas-dataframe-apply-function-to-column-strings-based-on-other-column-value
df['project_grade_category'] = df['project_grade_category'].str.replace(' ','_')
df['project_grade_category'] = df['project_grade_category'].str.replace('-','_')
df['project_grade_category'] = df['project_grade_category'].str.lower()
df['project_grade_category'].value_counts()

grades_prek_2    44225
grades_3_5       37137
grades_6_8       16923
grades_9_12      10963
Name: project_grade_category, dtype: int64

In [29]:
# null values
print(df['teacher_prefix'].isnull().values.any())
print("number of Null values",df['teacher_prefix'].isnull().values.sum())

False
number of Null values 0

In [25]:
df['clean_categories'].value_counts()

literacy_language                       23655
math_science                            17072
literacy_language math_science          14636
health_sports                           10177
music_arts                               5180
specialneeds                             4226
literacy_language specialneeds           3961
appliedlearning                          3771
math_science literacy_language           2289
appliedlearning literacy_language        2191
history_civics                           1851
math_science specialneeds                1840
literacy_language music_arts             1757
math_science music_arts                  1642
appliedlearning specialneeds             1467
history_civics literacy_language         1421
health_sports specialneeds               1391
warmth care_hunger                       1309
math_science appliedlearning             1220
appliedlearning math_science             1052
literacy_language history_civics          809
health_sports literacy_language           803
appliedlearning music_arts                758
math_science history_civics               652
literacy_language appliedlearning         636
appliedlearning health_sports             608
math_science health_sports                414
history_civics math_science               322
history_civics music_arts                 312
specialneeds music_arts                   302
health_sports math_science                271
history_civics specialneeds               252
health_sports appliedlearning             192
appliedlearning history_civics            178
health_sports music_arts                  155
music_arts specialneeds                   138
literacy_language health_sports            72
health_sports history_civics               43
specialneeds health_sports                 42
history_civics appliedlearning             42
health_sports warmth care_hunger           23
specialneeds warmth care_hunger            23
music_arts health_sports                   19
music_arts history_civics                  18
history_civics health_sports               13
math_science warmth care_hunger            11
music_arts appliedlearning                 10
appliedlearning warmth care_hunger         10
literacy_language warmth care_hunger        9
music_arts warmth care_hunger               2
history_civics warmth care_hunger           1
Name: clean_categories, dtype: int64

In [26]:
df['clean_categories'] = df['clean_categories'].str.replace(' The ','')
df['clean_categories'] = df['clean_categories'].str.replace(' ','')
df['clean_categories'] = df['clean_categories'].str.replace('&','_')
df['clean_categories'] = df['clean_categories'].str.replace(',','_')
df['clean_categories'] = df['clean_categories'].str.lower()
df['clean_categories'].value_counts()

literacy_language                     23655
math_science                          17072
literacy_languagemath_science         14636
health_sports                         10177
music_arts                             5180
specialneeds                           4226
literacy_languagespecialneeds          3961
appliedlearning                        3771
math_scienceliteracy_language          2289
appliedlearningliteracy_language       2191
history_civics                         1851
math_sciencespecialneeds               1840
literacy_languagemusic_arts            1757
math_sciencemusic_arts                 1642
appliedlearningspecialneeds            1467
history_civicsliteracy_language        1421
health_sportsspecialneeds              1391
warmthcare_hunger                      1309
math_scienceappliedlearning            1220
appliedlearningmath_science            1052
literacy_languagehistory_civics         809
health_sportsliteracy_language          803
appliedlearningmusic_arts               758
math_sciencehistory_civics              652
literacy_languageappliedlearning        636
appliedlearninghealth_sports            608
math_sciencehealth_sports               414
history_civicsmath_science              322
history_civicsmusic_arts                312
specialneedsmusic_arts                  302
health_sportsmath_science               271
history_civicsspecialneeds              252
health_sportsappliedlearning            192
appliedlearninghistory_civics           178
health_sportsmusic_arts                 155
music_artsspecialneeds                  138
literacy_languagehealth_sports           72
health_sportshistory_civics              43
specialneedshealth_sports                42
history_civicsappliedlearning            42
health_sportswarmthcare_hunger           23
specialneedswarmthcare_hunger            23
music_artshealth_sports                  19
music_artshistory_civics                 18
history_civicshealth_sports              13
math_sciencewarmthcare_hunger            11
music_artsappliedlearning                10
appliedlearningwarmthcare_hunger         10
literacy_languagewarmthcare_hunger        9
music_artswarmthcare_hunger               2
history_civicswarmthcare_hunger           1
Name: clean_categories, dtype: int64

In [27]:
df['teacher_prefix'].value_counts()

mrs        57272
ms         38955
mr         10648
teacher     2360
dr            13
Name: teacher_prefix, dtype: int64

In [30]:
df['clean_subcategories'].value_counts()

literacy                                   9486
literacy mathematics                       8325
literature_writing mathematics             5923
literacy literature_writing                5571
mathematics                                5379
literature_writing                         4501
specialneeds                               4226
health_wellness                            3583
appliedsciences mathematics                3399
appliedsciences                            2492
literacy specialneeds                      2440
gym_fitness health_wellness                2264
esl literacy                               2234
visualarts                                 2217
music                                      1472
warmth care_hunger                         1309
literature_writing specialneeds            1306
gym_fitness                                1195
health_wellness specialneeds               1189
mathematics specialneeds                   1187
environmentalscience                       1079
teamsports                                 1061
appliedsciences environmentalscience        984
environmentalscience health_lifescience     964
music performingarts                        948
earlydevelopment                            905
environmentalscience mathematics            838
other                                       831
health_lifescience                          827
health_wellness nutritioneducation          797
                                           ...
socialsciences teamsports                     2
environmentalscience teamsports               2
financialliteracy health_wellness             2
civics_government health_wellness             2
foreignlanguages gym_fitness                  2
visualarts warmth care_hunger                 2
college_careerprep warmth care_hunger         1
civics_government foreignlanguages            1
economics music                               1
economics nutritioneducation                  1
gym_fitness socialsciences                    1
esl economics                                 1
history_geography warmth care_hunger          1
esl teamsports                                1
literature_writing nutritioneducation         1
communityservice music                        1
gym_fitness parentinvolvement                 1
economics other                               1
extracurricular financialliteracy             1
gym_fitness warmth care_hunger                1
other warmth care_hunger                      1
parentinvolvement teamsports                  1
communityservice gym_fitness                  1
civics_government parentinvolvement           1
civics_government nutritioneducation          1
parentinvolvement warmth care_hunger          1
financialliteracy performingarts              1
communityservice financialliteracy            1
financialliteracy foreignlanguages            1
economics foreignlanguages                    1
Name: clean_subcategories, Length: 401, dtype: int64

In [31]:
df['school_state'].value_counts()

ca    15388
tx     7396
ny     7318
fl     6185
nc     5091
il     4350
ga     3963
sc     3936
mi     3161
pa     3109
in     2620
mo     2576
oh     2467
la     2394
ma     2389
wa     2334
ok     2276
nj     2237
az     2147
va     2045
wi     1827
al     1762
ut     1731
tn     1688
ct     1663
md     1514
nv     1367
ms     1323
ky     1304
or     1242
mn     1208
co     1111
ar     1049
id      693
ia      666
ks      634
nm      557
dc      516
hi      507
me      505
wv      503
nh      348
ak      345
de      343
ne      309
sd      300
ri      285
mt      245
nd      143
wy       98
vt       80
Name: school_state, dtype: int64

In [32]:
# https://stackoverflow.com/a/47091490/4084039
import re

def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [33]:
# https://gist.github.com/sebleier/554280
# we are removing the words from the stop words list: 'no', 'nor', 'not'
stopwords= ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"]

In [35]:
df.columns

Index(['school_state', 'teacher_prefix', 'project_grade_category',
       'teacher_number_of_previously_posted_projects', 'project_is_approved',
       'clean_categories', 'clean_subcategories', 'essay', 'price'],
      dtype='object')

In [36]:
df['essay'].head(5)

0    i fortunate enough use fairy tale stem kits cl...
1    imagine 8 9 years old you third grade classroo...
2    having class 24 students comes diverse learner...
3    i recently read article giving students choice...
4    my students crave challenge eat obstacles brea...
Name: essay, dtype: object